#include <dt-bindings/zmk/kscan_mock.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "character_map.dtsi"

/ {
    chosen {
        zmk,charmap = &charmap_us;
    };
    
    combos {
        compatible = "zmk,combos";

        to_layer_0_from_4 {
            bindings = <&to 0>;
            key-positions = <40 41>;
            layers = <4>;
        };

        to_layer_0_from_5 {
            bindings = <&to 0>;
            key-positions = <36 37>;
            layers = <5>;
        };

        to_layer_7 {
            bindings = <&to 7>;
            key-positions = <37 40 36 41>;
        };

        to_layer_0_from_7 {
            bindings = <&to 0>;
            key-positions = <36 37 40 41>;
            layers = <7>;
        };

        lalt_a_acute {
            bindings = <&a_acute>;
            key-positions = < /* LALT */ 36  /* A */ 13 >;
            layers = <0>;
        };

        lalt_e_acute {
            bindings = <&e_acute>;
            key-positions = <36 3>;
            layers = <0>;
        };

        lalt_i_acute {
            bindings = <&i_acute>;
            key-positions = <36 8>;
            layers = <0>;
        };

        lalt_o_acute {
            bindings = <&o_acute>;
            key-positions = <36 9>;
            layers = <0>;
        };

        lalt_u_acute {
            bindings = <&u_acute>;
            key-positions = <36 7>;
            layers = <0>;
        };

        lalt_enye {
            bindings = <&enye>;
            key-positions = <36 30>;
            layers = <0>;
        };

        to_layer_0_from_6 {
            bindings = <&to 0>;
            key-positions = <40 41>;
            layers = <6>;
        };
    };

    macros {
        emaill: emaill {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp J &kp U &kp L &kp I &kp A &kp N>;
        };

        a_acute: a_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp A>;
        };

        e_acute: e_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp E>;
        };

        i_acute: i_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp I>;
        };

        o_acute: o_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp O>;
        };

        u_acute: u_acute {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp U>;
        };

        enye: enye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHIFT &kp GRAVE &kp N>;
        };
    };

    behaviors {
        mo_layer1: mo_layer1 {
            compatible = "zmk,behavior-tap-dance";
            label = "MO_LAYER1";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&to 4>, <&to 6>;

            tapping-term-ms = <225>;
        };

        mo_layer2: mo_layer2 {
            compatible = "zmk,behavior-tap-dance";
            label = "MO_LAYER2";
            #binding-cells = <0>;
            bindings = <&mo 2>, <&to 5>;

            tapping-term-ms = <225>;
        };

        up_arrow: up_arrow {
            compatible = "zmk,behavior-tap-dance";
            label = "UP_ARROW";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp UP_ARROW>;

            tapping-term-ms = <200>;
        };

        left_arrow: left_arrow {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFT_ARROW";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp LEFT>;

            tapping-term-ms = <200>;
        };

        right_arrow: right_arrow {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHT_ARROW";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH>, <&kp RIGHT>;

            tapping-term-ms = <200>;
        };

        down_arrow: down_arrow {
            compatible = "zmk,behavior-tap-dance";
            label = "DOWN_ARROW";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp DOWN_ARROW>;

            tapping-term-ms = <200>;
        };

        scr_cyc: screen_cycle {
            compatible = "zmk,behavior-screen-cycle";
            label = "SCREEN_CYCLE";
            #binding-cells = <0>;
        };

        anim_tog: anim_toggle {
            compatible = "zmk,behavior-anim-toggle";
            label = "ANIM_TOGGLE";
            #binding-cells = <0>;
        };

        pom_ss: pom_start_stop {
            compatible = "zmk,behavior-pom-start-stop";
            label = "POM_START_STOP";
            #binding-cells = <0>;
        };

        pom_rst: pom_reset {
            compatible = "zmk,behavior-pom-reset";
            label = "POM_RESET";
            #binding-cells = <0>;
        };

        pom_add: pom_add_time {
            compatible = "zmk,behavior-pom-add-time";
            label = "POM_ADD_TIME";
            #binding-cells = <0>;
        };

        pom_sub: pom_sub_time {
            compatible = "zmk,behavior-pom-sub-time";
            label = "POM_SUB_TIME";
            #binding-cells = <0>;
        };
    };

#include "leader.dtsi"

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E     &kp R       &kp T        &kp Y    &kp U       &kp I      &kp O       &kp P          &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D     &kp F       &kp G        &kp H    &kp J       &kp K      &kp L       &kp SEMICOLON  &kp ESCAPE
&kp LCTRL       &kp Z  &kp X  &kp C     &kp V       &kp B        &kp N    &kp M       &kp COMMA  &kp PERIOD  &kp SLASH      &kp BACKSLASH
                              &kp LALT  &mo_layer2  &kp SPACE    &kp RET  &mo_layer1  &kp LWIN
            >;
        };

        LAYER_1 {
            bindings = <
&kp TAB         &none  &none  &none     &none   &none        &kp N7        &kp N8        &kp N9        &kp KP_DIVIDE  &kp ASTRK        &kp BACKSPACE
&kp LEFT_SHIFT  &none  &none  &none     &none   &none        &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0         &kp KP_SUBTRACT  &kp ESCAPE
&kp LCTRL       &none  &none  &none     &none   &none        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD     &kp EQUAL        &kp KP_NUM
                              &kp LALT  &trans  &kp SPACE    &kp RET       &trans        &kp LWIN
            >;
        };

        LAYER_2 {
            bindings = <
&kp GRAVE   &kp NUMBER_1      &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4   &kp NUMBER_5    &kp NUMBER_6   &kp NUMBER_7  &kp NUMBER_8      &kp NUMBER_9       &kp NUMBER_0   &kp BACKSPACE
&kp LSHIFT  &kp C_PLAY_PAUSE  &kp C_PREV    &kp C_NEXT    &kp C_MUTE     &leader         &kp MINUS      &kp EQUAL     &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp ESCAPE
&kp LCTRL   &kp C_MUTE        &kp C_VOL_DN  &kp C_VOL_UP  &kp C_BRI_DEC  &kp C_BRI_UP    &kp SEMICOLON  &kp SQT       &kp COMMA         &kp PERIOD         &kp SLASH      &none
                                            &kp LALT      &trans         &kp SPACE       &kp RET        &trans        &kp LWIN
            >;
        };

        LAYER_3 {
            bindings = <
&kp F1      &kp F2        &kp F3      &kp F4        &kp F5      &kp F6            &kp F7             &kp F8    &kp F9    &kp F10         &kp F11         &kp F12
&kp LSHIFT  &kp CAPSLOCK  &bt BT_CLR  &bt BT_PRV    &bt BT_NXT  &bt BT_CLR_ALL    &kp DELETE         &none     &none     &none           &kp UP_ARROW    &kp ESCAPE
&kp LCTRL   &none         &none       &none         &none       &none             &ext_power EP_TOG  &scr_cyc  &none     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
                                      &kp LEFT_ALT  &trans      &kp SPACE         &kp ENTER          &trans    &kp LWIN
            >;
        };

        LAYER_4 {
            // Navigation + Pomodoro controls (add/sub auto-switch: work in IDLE, break during break)

            bindings = <
&kp TAB     &none  &none  &none         &none   &none        &pom_sub   &pom_add  &none          &none           &none           &kp BACKSPACE
&kp LSHIFT  &none  &none  &none         &none   &none        &pom_ss    &pom_rst  &kp PAGE_DOWN  &kp PAGE_UP     &kp UP_ARROW    &kp ESCAPE
&kp LCTRL   &none  &none  &none         &none   &none        &none      &none     &none          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
                          &kp LEFT_ALT  &trans  &kp SPACE    &kp ENTER  &trans    &kp LWIN
            >;
        };

        LAYER_5 {
            bindings = <
&kp TAB     &none  &none  &none         &none   &none        &none      &none   &none     &msc SCRL_DOWN  &none           &msc SCRL_UP
&kp LSHIFT  &none  &none  &none         &none   &none        &none      &none   &none     &mkp LCLK       &mmv MOVE_UP    &mkp RCLK
&kp LCTRL   &none  &none  &none         &none   &none        &none      &none   &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT
                          &kp LEFT_ALT  &trans  &kp SPACE    &kp ENTER  &trans  &kp LWIN
            >;
        };

        LAYER_6 {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E     &kp R       &kp T        &kp Y    &kp U       &kp I      &kp O           &kp P           &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D     &kp F       &kp G        &kp H    &kp J       &kp K      &kp L           &kp UP_ARROW    &kp ESCAPE
&kp LCTRL       &kp Z  &kp X  &kp C     &kp V       &kp B        &kp N    &kp M       &kp COMMA  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
                              &kp LALT  &mo_layer2  &kp SPACE    &kp RET  &mo_layer1  &kp LWIN
            >;
        };

        LAYER_7 {
            bindings = <
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        extra_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
