/ {
    macros {
        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U &kp B &kp AT &kp G &kp M &kp A &kp I &kp L>;
        };
    };
};

/ {
    behaviors {
        leader: leader {
            compatible = "zmk,behavior-leader-key";
            #binding-cells = <0>;
            ignore-keys = <LSHFT RSHFT>;

            email_expansion { sequence = <E M A I L>; bindings = <&email>; };
        };
    };
};
