/* Leader key sequences - included by zmk-leader-key module */

leader_sequence_el_alpha   { bindings = <&uc UC_EL_ALPHA>;   sequence = <A L P H A>; };      // α
leader_sequence_el_beta    { bindings = <&uc UC_EL_BETA>;    sequence = <B E T A>; };        // β
leader_sequence_el_gamma   { bindings = <&uc UC_EL_GAMMA>;   sequence = <G A M M A>; };      // γ
leader_sequence_el_delta   { bindings = <&uc UC_EL_DELTA>;   sequence = <D E L T A>; };      // δ
leader_sequence_el_epsilon { bindings = <&uc UC_EL_EPSILON>; sequence = <E P S I L O N>; };  // ε
leader_sequence_el_zeta    { bindings = <&uc UC_EL_ZETA>;    sequence = <Z E T A>; };        // ζ
leader_sequence_el_eta     { bindings = <&uc UC_EL_ETA>;     sequence = <E T A>; };          // η
leader_sequence_el_theta   { bindings = <&uc UC_EL_THETA>;   sequence = <T H E T A>; };      // θ
leader_sequence_el_iota    { bindings = <&uc UC_EL_IOTA>;    sequence = <I O T A>; };        // ι
leader_sequence_el_kappa   { bindings = <&uc UC_EL_KAPPA>;   sequence = <K A P P A>; };      // κ
leader_sequence_el_lambda  { bindings = <&uc UC_EL_LAMBDA>;  sequence = <L A M B D A>; };    // λ
leader_sequence_el_mu      { bindings = <&uc UC_EL_MU>;      sequence = <M U>; };            // μ
leader_sequence_el_nu      { bindings = <&uc UC_EL_NU>;      sequence = <N U>; };            // ν
leader_sequence_el_xi      { bindings = <&uc UC_EL_XI>;      sequence = <X I>; };            // ξ
leader_sequence_el_omikron { bindings = <&uc UC_EL_OMIKRON>; sequence = <O M I K R O N>; };  // ο
leader_sequence_el_pi      { bindings = <&uc UC_EL_PI>;      sequence = <P I>; };            // π
leader_sequence_el_rho     { bindings = <&uc UC_EL_RHO>;     sequence = <R H O>; };          // ρ
leader_sequence_el_sigma   { bindings = <&uc UC_EL_SIGMA>;   sequence = <S I G M A>; };      // σ
leader_sequence_el_tau     { bindings = <&uc UC_EL_TAU>;     sequence = <T A U>; };          // τ
leader_sequence_el_upsilon { bindings = <&uc UC_EL_UPSILON>; sequence = <U P S I L O N>; };  // υ
leader_sequence_el_phi     { bindings = <&uc UC_EL_PHI>;     sequence = <P H I>; };          // ϕ
leader_sequence_el_chi     { bindings = <&uc UC_EL_CHI>;     sequence = <C H>; };            // χ
leader_sequence_el_psi     { bindings = <&uc UC_EL_PSI>;     sequence = <P S>; };            // ψ
leader_sequence_el_omega   { bindings = <&uc UC_EL_OMEGA>;   sequence = <O M E G A>; };      // ω
leader_sequence_ex_email   { bindings = <&emaill>;           sequence = <E M A I L>; };
